<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.erik.videogamesproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".HomeActivity" />

        <activity android:name=".VideogameInfo"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ConsoleInfo"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".AccessoryInfo"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".OrderActivity"
            android:label="Ordine"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".CompleteOrderActivity"
            android:label="Completa il tuo ordine"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".OrderInfo"
            android:label="Il mio ordine"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
